html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(89, 135, 89);
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
}
#ptop{
    width: 100%;
    height: 100px;
    background-color: rgb(50, 112, 50);
    display: flex;
    justify-content: center;
    color: white;
}
.elem{
    width: 10%;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

}
.btn{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(71, 135, 78);
}
.btn:hover{
    background-color: darkgoldenrod;
}
.box{
    background-color: aliceblue;
    width: 30%;
    height: 40px;
    border-radius: 2px;
    color: black;
    font-size: 30px;
    padding: 0px 20px;
    font-weight: 700px;
    text-align: center;
}
#pmain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100%-100px);
    padding: 8px;
    gap: 20px;
    
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(71, 142, 71);
    font-weight: 500;
    color: white;
}
.bubble:hover{
    background-color: rgb(31, 76, 31);
}